# Hugging Face API Token
# Dapatkan token gratis di: https://huggingface.co/settings/tokens
# Dibutuhkan untuk fitur .hf
HF_TOKEN=

# Groq API Key
# Dapatkan gratis di: https://console.groq.com/keys
# Dibutuhkan untuk fitur .groq
GROQ_API_KEY=